In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel('British Airways Summer Schedule Dataset - Forage Data Science Task 1.xlsx')

In [4]:
df.head()

,FLIGHT_DATE,FLIGHT_TIME,TIME_OF_DAY,AIRLINE_CD,FLIGHT_NO,DEPARTURE_STATION_CD,ARRIVAL_STATION_CD,ARRIVAL_COUNTRY,ARRIVAL_REGION,HAUL,AIRCRAFT_TYPE,FIRST_CLASS_SEATS,BUSINESS_CLASS_SEATS,ECONOMY_SEATS,TIER1_ELIGIBLE_PAX,TIER2_ELIGIBLE_PAX,TIER3_ELIGIBLE_PAX
0,2025-09-02,14:19:00,Afternoon,BA,BA5211,LHR,LAX,USA,North America,LONG,B777,8,49,178,0,10,38
1,2025-06-10,06:42:00,Morning,BA,BA7282,LHR,LAX,USA,North America,LONG,B777,8,49,178,0,7,28
2,2025-10-27,15:33:00,Afternoon,BA,BA1896,LHR,FRA,Germany,Europe,SHORT,A320,0,17,163,0,11,40
3,2025-06-15,18:29:00,Evening,BA,BA5497,LHR,IST,Turkey,Europe,SHORT,A320,0,8,172,0,16,54
4,2025-08-25,20:35:00,Evening,BA,BA1493,LHR,FRA,Germany,Europe,SHORT,A320,0,13,167,0,6,27

In [7]:
df['category']=df['HAUL']+' '+df['TIME_OF_DAY']

In [8]:
df[['FLIGHT_TIME','HAUL','category']].head()

  FLIGHT_TIME   HAUL         category
0    14:19:00   LONG   LONG Afternoon
1    06:42:00   LONG     LONG Morning
2    15:33:00  SHORT  SHORT Afternoon
3    18:29:00  SHORT    SHORT Evening
4    20:35:00  SHORT    SHORT Evening

In [9]:
lookup = pd.DataFrame({
    'category': [
        'SHORT Morning', 'SHORT Afternoon', 'SHORT Evening',
        'LONG Morning', 'LONG Afternoon', 'LONG Evening' ],
    'tier1_pct': [0.04, 0.03, 0.02, 0.10, 0.08, 0.06],
    'tier2_pct': [0.18, 0.15, 0.12, 0.35, 0.30, 0.25],
    'tier3_pct': [0.55, 0.50, 0.45, 0.80, 0.75, 0.70]
})

In [10]:
df=df.merge(lookup,on='category',how='left')

In [11]:
df.head()

,FLIGHT_DATE,FLIGHT_TIME,TIME_OF_DAY,AIRLINE_CD,FLIGHT_NO,DEPARTURE_STATION_CD,ARRIVAL_STATION_CD,ARRIVAL_COUNTRY,ARRIVAL_REGION,HAUL,...,FIRST_CLASS_SEATS,BUSINESS_CLASS_SEATS,ECONOMY_SEATS,TIER1_ELIGIBLE_PAX,TIER2_ELIGIBLE_PAX,TIER3_ELIGIBLE_PAX,category,tier1_pct,tier2_pct,tier3_pct
0,2025-09-02,14:19:00,Afternoon,BA,BA5211,LHR,LAX,USA,North America,LONG,...,8,49,178,0,10,38,LONG Afternoon,0.08,0.30,0.75
1,2025-06-10,06:42:00,Morning,BA,BA7282,LHR,LAX,USA,North America,LONG,...,8,49,178,0,7,28,LONG Morning,0.10,0.35,0.80
2,2025-10-27,15:33:00,Afternoon,BA,BA1896,LHR,FRA,Germany,Europe,SHORT,...,0,17,163,0,11,40,SHORT Afternoon,0.03,0.15,0.50
3,2025-06-15,18:29:00,Evening,BA,BA5497,LHR,IST,Turkey,Europe,SHORT,...,0,8,172,0,16,54,SHORT Evening,0.02,0.12,0.45
4,2025-08-25,20:35:00,Evening,BA,BA1493,LHR,FRA,Germany,Europe,SHORT,...,0,13,167,0,6,27,SHORT Evening,0.02,0.12,0.45

In [20]:
df[['FLIGHT_NO', 'category', 'tier1_pct', 'tier2_pct', 'tier3_pct']].head(25)

   FLIGHT_NO         category  tier1_pct  tier2_pct  tier3_pct
0     BA5211   LONG Afternoon       0.08       0.30       0.75
1     BA7282     LONG Morning       0.10       0.35       0.80
2     BA1896  SHORT Afternoon       0.03       0.15       0.50
3     BA5497    SHORT Evening       0.02       0.12       0.45
4     BA1493    SHORT Evening       0.02       0.12       0.45
5     BA4954    SHORT Evening       0.02       0.12       0.45
6     BA9840    SHORT Evening       0.02       0.12       0.45
7     BA7116   LONG Afternoon       0.08       0.30       0.75
8     BA4424  SHORT Lunchtime        NaN        NaN        NaN
9     BA4878    SHORT Morning       0.04       0.18       0.55
10    BA8924    SHORT Morning       0.04       0.18       0.55
11    BA8942     LONG Morning       0.10       0.35       0.80
12    BA8213    SHORT Morning       0.04       0.18       0.55
13    BA7992     LONG Morning       0.10       0.35       0.80
14    BA7734  SHORT Afternoon       0.03       0.15       0.50
15    BA3129    SHORT Evening       0.02       0.12       0.45
16    BA8677   LONG Afternoon       0.08       0.30       0.75
17    BA3998  SHORT Afternoon       0.03       0.15       0.50
18    BA9842  SHORT Afternoon       0.03       0.15       0.50
19    BA8555    SHORT Morning       0.04       0.18       0.55
20    BA9080     LONG Evening       0.06       0.25       0.70
21    BA1302    SHORT Morning       0.04       0.18       0.55
22    BA1609   LONG Afternoon       0.08       0.30       0.75
23    BA2199   LONG Afternoon       0.08       0.30       0.75
24    BA3986    SHORT Evening       0.02       0.12       0.45

In [19]:
sample_df = df.sample(10, random_state=42)

sample_df[['FLIGHT_NO', 'ARRIVAL_COUNTRY', 'category',
            'tier1_pct', 'tier2_pct', 'tier3_pct']].head()

,FLIGHT_NO,ARRIVAL_COUNTRY,category,tier1_pct,tier2_pct,tier3_pct
6252,BA2731,USA,LONG Morning,0.10,0.35,0.80
4684,BA7812,Germany,SHORT Morning,0.04,0.18,0.55
1731,BA2755,Japan,LONG Morning,0.10,0.35,0.80
4742,BA6166,Netherlands,SHORT Lunchtime,NaN,NaN,NaN
4521,BA5217,Turkey,SHORT Evening,0.02,0.12,0.45